@import 'vars';

.ProductItem {
	width: 240px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 21px 21px 18px 0px;
}
.ProductItem img {
	width: 240px;
	height: 240px;
	border-radius: 20px;
	object-fit: cover;
}
.product-info {
    width: fit-content;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 0.35fr;
    justify-content: space-between;
    align-items: start;
    margin: 10px;
    align-content: space-between;
}
.product-info-container {
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.product-info figure {
	margin: 7px;
}
.product-info figure img {
	width: 100%;
    height: 100%;
}
.product-info div p:nth-child(1) {
	font-weight: bold;
	font-size: var(--lg);
	margin-top: 0;
	margin-bottom: 4px;
}
.ProductItem p {
	font-size: var(--lg);
	margin: 25px;
	color: var(--black);
}
@media (max-width: 640px) {
	.cards-container {
		grid-template-columns: repeat(auto-fill, 140px);
	}
	
	.ProductItem {
		display: flex;
		width: 240px;
		height: auto;
		background-color: rgb(255, 255, 255);
		border-radius: 21px 21px 18px 0px;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
	}

	.ProductItem img {
		width: 100%;
		height: auto;
	}
}
